<h1>Github Repositories Search</h1>

<label class="mt-2">
  <span>Repository name:</span>

  <input type="text"
         class="ml-2"
         [ngModel]="''"
         (ngModelChange)="onTextChange($event)"
  />
</label>

<div *ngIf="(searchResult$ | async) as searchResult">
  <h2>Repositories</h2>

  <ng-container [ngSwitch]="searchResult.items.length">
    <ng-container *ngSwitchCase="0">
      No results found
    </ng-container>

    <ng-container *ngSwitchDefault>
      <div *ngFor="let result of searchResult.items">
        {{ result.name }}
      </div>
    </ng-container>
  </ng-container>
</div>
